@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}*/


/*.wrapper1{
  position: absolute;
  top: 500px;
  left: 500px;
  transform: translate(-50%,-50%);
  width: 450px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}
.wrapper2{
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper1 .left1{
  width: 35%;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper1 .left1 img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper1 .left1 h4{
  margin-bottom: 10px;
}

.wrapper1 .left1 span{
  font-size: 12px;
}

.wrapper1 .right1{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper1 .right1 .info1,
.wrapper1 .right1 .info2{
  margin-bottom: 25px;
}

.wrapper1 .right1 .info1 h3,
.wrapper1 .right1 .info2 h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper1 .right1 .info_data1,
.wrapper1 .right1 .info_data2{
  display: flex;
  justify-content: space-between;
}

.wrapper1 .right1 .info_data1 .data1,
.wrapper1 .right1 .info_data2 .data1{
  width: 45%;
}

.wrapper1 .right1 .info_data1 .data1 h4,
.wrapper1 .right1 .info_data2 .data1 h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper1 .right1 .info_data1 .data1 p,
.wrapper1 .right1 .info_data2 .data1 p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}
*/

/*.wrapper .social_media ul{
  display: flex;
}

.wrapper .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}
.wrapper .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}*/